footer {
    background-color: #dcd5d5;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #333;
}

.container.text-center {
    margin: 50px 20px 50px 20px; 
}

body {
    background-image: url("media/bckgrd.png");
    background-size: cover; 
}

.container.info {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    min-height: 150px; 
    padding: 10px;
    margin: 20px 20px 20px 20px; 
}

.img-fluid {
    border-radius: 10px;
}